.form {
  margin-bottom: 2rem;
}

.reset {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.reset::after {
  content: "";
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

/* .userLogin {
  width: 400px;
  margin: 0 auto;
}

.userLoginTitle {
  font-size: 40px;
  color: #3d423c;
  margin-bottom: 50px;
  text-align: center;
}

.userLoginFormControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.userLoginFormControl label {
  margin-bottom: 5px;
  color: #979797;
  font-size: 16px;
}

.userLoginFormControl input {
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  height: 36px;
  padding: 5px 10px;
}

.userLoginSubmitButton {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
} */
