.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #3d423c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginationInfo {
  font-size: 16px;
  margin: 0 20px;
}

.customLink {
  text-decoration: none;
  color: black;
}

.addButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3d423c;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #3d423c;
}

.institutionItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.deleteButton {
  background-color: #ff0000; /* Cor de fundo do botão de exclusão */
  color: #fff; /* Cor do ícone */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #cc0000; /* Cor de fundo do botão de exclusão quando hover */
}
