.form {
  margin-bottom: 2rem;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.formDonation {
  /* display: flex; */
  align-items: center;
  margin: 1rem;
}

.select {
  border: 1px solid #eee;
  display: block;
  width: 51.563rem;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.select:focus,
.select:hover {
  outline: none;
  border-color: #3d423c;
  background: white;
  box-shadow: 0 0 0 3px #3d423c;
}

.formSection {
  margin: 1rem;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
